h3{
    color: aqua;
    background-color: black;
    font-size: 33px;
}
/* p{
    color: beige;
    background-color: black;
    font-size: 32px;
} */
thead{
   background-color: aquamarine;
   color: black;
   font-size: 40px;

}
td{
    background-color: black;
    color: white;
    font-size: 33;
}
/* P{
     color: aqua;
    background-color: black;
    font-size: 33px;
} */

 .uppercase{
            text-transform: uppercase;
            background-color: aqua;
            color: black;
            
        }
.lowercase{
            text-transform: lowercase;
            text-align: center;

        }
        
.capitlize{
            text-transform: capitalize;
        }

.strongtitle{
    text-transform: capitalize;
}
.alignclass{
    text-align: center;
    background-color: cadetblue ;
    text-decoration:line-through;
    text-decoration:overline;
}

.linethrugh{
    text-decoration: line-through;

}
.underline{
    text-decoration: underline;
}

.overline{
     text-decoration: overline;
}

.alldecoration{
    text-decoration: line-through underline overline;
}

.textindent{
    text-indent: 160px;
}

.linehead{
    line-height: 30px;
    text-indent: 160px;
}

.letterspace{
    letter-spacing: 50px;
}
.wordspace{
    word-spacing: 25px
}

.textshaddow{
    color: chocolate;
    text-shadow: 15px 10px 10px black ;
    /* first value=horizantal
    second is vertically
    third is blur */
}

.textshaddow1{
    text-shadow: 10px 10px 10px orangered;
    text-align: center;
}

.textshaddow2{
    color: rgb(199, 4, 248);
    text-shadow: 10px 7px 5px black;
    text-align: right;
    font-size: 45px;
}

.shaddow1{
     width: 500px;
     box-shadow: 10px 15px 10px black;

}
.shaddow2{
    width: 400px;
    box-shadow: 5px 10px 50px rgb(26, 10, 85);
}

.shaddow3{ 
    width: 500px;
      box-shadow: 5px 10px 50px rgb(24, 205, 250);
  
}
.shaddow4{
    filter: drop-shadow(10px 15px 20px rgb(7, 7, 7));
}

.shaddow5{
    filter: drop-shadow(10px 15px 30px rgb(3, 44, 92));
}
.shaddow6{
    filter: drop-shadow(10px 10px 20px rgb(28, 159, 199));
}

.fontfamily1{
    font-family: monospace;
    font-weight: bolder;
    font-style: italic;
}
.fontfamily2{
    font-family: sans-serif;
}

.fontfamily3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.fontfamily4{
    font: italic bold 30px verdana;
}

.heading1{
    font-size: 30px;
    color: brown;
}

#heading1{
    color: darkgoldenrod;
    text-transform: capitalize;
    text-decoration: line-through;
}